*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #f3f3f3;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

header {
  margin-bottom: 1.5rem;
  text-align: center;
}

header #title {
  font-size: 2.3rem;
  font-weight: 400;
}

header #description {
  font-size: 1.3rem;
  font-weight: 200;
  font-style: italic;
}

#survey-form {
  background-color: rgba(27, 27, 50, 0.8);
  padding: 3rem;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label,
.form-group p,
.form-group input,
input::placeholder{
  font-size: 1.2rem;
}

.form-group input,
.form-group select,
.form-group textarea{
  padding: 0.3rem 0.5rem;
  width: 100%;
}

.radio-buttons input,
.checkboxes input{
  width: auto;
}

.form-group textarea {
  height: 7rem;
}

button {
  color: #f3f3f3;
  background-color: #37af65;
  width: 100%;
  padding: 1rem 0;
}